absl-py==0.7.0
astor==0.7.1
Augmentor==0.2.3
backports.functools-lru-cache==1.5
backports.weakref==1.0.post1
click==7.1.2
cmake==3.18.2
cycler==0.10.0
dlib @ https://pypi.python.org/packages/da/06/bd3e241c4eb0a662914b3b4875fc52dd176a9db0d4a2c915ac2ad8800e9e/dlib-19.7.0-cp36-cp36m-win_amd64.whl
enum34==1.1.6
Flask==1.1.2
funcsigs==1.0.2
future==0.17.1
gast==0.2.2
grpcio==1.18.0
h5py==2.9.0
itsdangerous==1.1.0
Jinja2==2.11.2
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib==2.2.3
mock==2.0.0
numpy==1.16.1
opencv-python==4.0.0.21
pandas==0.24.1
pbr==5.1.2
Pillow==5.4.1
protobuf==3.6.1
pyparsing==2.3.1
pytesseract==0.3.5
python-dateutil==2.8.0
pytz==2018.9
PyYAML==3.13
scipy==1.2.0
six==1.12.0
subprocess32==3.5.3
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
tqdm==4.30.0
Werkzeug==1.0.1
