<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BAGIC BMI Calculator</title>
</head>
<body>
    <form action = "http://localhost:5000/bmi-calculator/prod/calculate-bmi-from-face-image" method = "POST"
        enctype = "multipart/form-data">
        <label>Request ID</label>
        <input type = "text" id = "request_id" name = "request_id"/>
        <br>
        <br>
        <label>Image File</label>
        <input type = "file" name = "image_file" />
        <br>
        <br>
        <input type = "submit"/>
    </form>
</body>
</html>